
.root-container{
    margin: 20px 20px
}

@media screen and (min-width: 900px) {

.root-container{
    margin: 20px 80px
}

}

[data-bs-theme="dark"] {
    .card{
        --bs-card-cap-color: #e1e1e1;
        --bs-card-color: #acacac;
    }
}

.cover-inpage-img {
    width: 100%;
    background-color: black;
}
[data-bs-theme="dark"] {
    
.cover-inpage-img {
filter: brightness(0.7);
}

}

.cover-float-span {
    display: inline-block;
    width: 0;
    height: 0;
    position: relative;
    vertical-align: top;
}

.cover-img {
    z-index: 999;
    position: absolute;
    max-width: 300px;
    right: -80px;
    bottom: 8px;
    border: 4px solid #1ed8f6;
}

[data-bs-theme="dark"] {
.cover-img {
    border: 4px solid #4e6164;

}
}

.author-img {
    width:20px;
    margin-right: 4px;
    border: 0 solid var(--bs-info-border-subtle);
}

[data-bs-theme="dark"]{
.author-img {
    filter: brightness(0.7);
}
.author-img-larger {
    filter: brightness(1);
}
}

.btn-tiny{
    --bs-btn-padding-y: .1rem;
    --bs-btn-padding-x: .4rem;
    --bs-btn-font-size: .75rem;
}
.head-container{
    min-height: 180px;
}
.head-border{
    --color-a: rgb(228, 27, 27);
    --color-b: rgb(36, 25, 245);
    --dist-a:19.4px;
    --dist-b:calc(var(--dist-a));

    /* border-top: 12px dashed; */
    border-bottom: 12px dotted;

    border-image: repeating-linear-gradient(90deg, 
        var(--color-a) calc(0*var(--dist-b) + 0*var(--dist-a))  , var(--color-a)  calc(0*var(--dist-b) + 1*var(--dist-a)) , 
        transparent    calc(0*var(--dist-b) + 1*var(--dist-a))  , transparent     calc(1*var(--dist-b) + 1*var(--dist-a)) ,
        var(--color-b) calc(1*var(--dist-b) + 1*var(--dist-a))  , var(--color-b)  calc(1*var(--dist-b) + 2*var(--dist-a)) , 
        transparent    calc(1*var(--dist-b) + 2*var(--dist-a))  , transparent     calc(2*var(--dist-b) + 2*var(--dist-a)) 
        ) 20;
    
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.head-block{
    margin-top: 20px;
    padding-top: 10px;
    /* padding-bottom: 20px; */
    margin-bottom: 60px;
}


[data-bs-theme="dark"]{

.head-border {
    --color-a: rgb(174, 60, 142);
    --color-b: rgb(179, 176, 106);
}

}



.my-container {
    margin: 16px;
}


@media screen and (min-width: 1100px) {
.my-container {
    margin: auto;
    max-width: 900px;
}
}

@media screen and (min-width: 1300px) {
.my-container {
    margin: auto;
    max-width: 1100px;
}
}
@media screen and (min-width: 1500px) {
.my-container {
    margin: auto;
    max-width: 1300px;
}
}
@media screen and (min-width: 1900px) {
.my-container {
    margin: auto;
    max-width: 1700px;
}
}

.background-desc-color {
    background-color: rgb(255, 252, 212);
}
.background-desc-en-color {
    background-color: rgb(255, 243, 76);
}
.background-translate-btn-color {
    --bs-btn-bg: rgb(255, 252, 212);
    --bs-btn-active-bg: rgb(255, 243, 76);
    --bs-btn-active-border-color: rgb(233, 214, 106);
}

.shadow-eng-button{
    box-shadow: 4px 0.325rem 0.25rem -2px rgba(0, 0, 0, 0.075)
}
[data-bs-theme="dark"]{
.background-desc-color {
    background-color: rgb(58, 48, 6);
}
.background-desc-en-color {
    background-color: rgb(58, 48, 6);
}
.background-translate-btn-color {
    --bs-btn-bg: rgb(58, 48, 6);
    --bs-btn-active-bg: rgb(97, 97, 3);
    --bs-btn-active-border-color: rgb(43, 35, 5);

}
}

/* .title-bg{
    background:linear-gradient(18deg, #ff9595, #adb3ff)
}
[data-bs-theme="dark"]{
.title-bg{
    background:linear-gradient(18deg, #5e5211, rgb(39, 45, 87))
}
} */

@media screen and (min-width: 850px) {
.soft-card{
    max-width: 400px;
}
}
